// Common header navbar:
$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: #ff8c00;

// per: https://github.com/twbs/bootstrap-sass
// Import Bootstrap styles in app/assets/stylesheets/application.scss:
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration:" none";
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.nav_ul_item {
  padding-left: 25px;
  float: left;
  margin-top: 20px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.center {
  text-align: center;
}

h1,h2,h3,h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
  padding-left: 0px;
  margin-left: 0px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid grey;
  color: #777;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input {
  width: auto !important;  
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0px;
  }
}

.show_recipe {
  margin: 10px 10px 10px 10px;
}

/*recipes/views/show.html.erb*/
.reviews_heading {
  margin-top: 6px;
  margin-bottom: 10px;
  a { /*new recipe button*/
  }
  label { /*Reviews label*/
    float: left;
    font-size: 1.4em;
    font-weight: bold;
  }
  span { /*will_paginate pagination*/
    margin-left: 100px;
  }
}


/* views/recipes/index.html.erb, views/chefs/index.html.erb, views/ingredients/show.html.erb */
.recipes_index_top_pagination, .chefs_index_top_pagination, .ingredients_recipes_index_top_pagination {
  div.pagination, div ul.pagination {
      margin-top:    14px;
      margin-bottom: 14px;
  }
}

/* views/styles/show.html.erb, views/chefs/show.html.erb, views/reviews/index.html.erb */
.styles_recipes_index_top_pagination, .chefs_recipes_index_top_pagination, .reviews_chef_index_top_pagination  {
  div.pagination, div ul.pagination {
      margin-top:    4px;
      margin-bottom: 14px;
  }
}



/* GLOBAL: override Bootstrap pagination styling*/
div.pagination, div ul.pagination {
  margin: 0px;
  padding: 0px;
}

/*recipes/views/show.html.erb*/
.reviews {
  span a { /*edit button*/
    float: right;
  }
  label { /*Reviewed By: */
    font-size: 1em;
  }
  label a { /*Chef name link*/
    font-size: 1.2em;
  }
}